## Numbers

In [ ]:
a = 6

In [ ]:
print(a)

6

In [ ]:
type(a)

int

In [ ]:
b = 5.0
print(b)

5.0

In [ ]:
type(b)

float

### Type Conversion

In [ ]:
int(6.3)

6

In [ ]:
int(-2.7)

-2

In [ ]:
float(9)

9.0

In [ ]:
(1.1 + 2.2) == 3.3

False

It turns out that floating-point numbers are implemented in computer hardware as binary fractions as the computer only understands binary (0 and 1). Due to this reason, most of the decimal fractions we know, cannot be accurately stored in our computer.

Let's take an example. We cannot represent the fraction 1/3 as a decimal number. This will give 0.33333333... which is infinitely long, and we can only approximate it.

It turns out that the decimal fraction 0.1 will result in an infinitely long binary fraction of 0.000110011001100110011... and our computer only stores a finite number of it.

This will only approximate 0.1 but never be equal. Hence, it is the limitation of our computer hardware and not an error in Python.

In [ ]:
from decimal import Decimal as D

print(D(1.1) + D(2.2) == D(3.3))

False

### Mathematics

In [ ]:
import math

print(math.pi)

print(math.cos(math.pi)) # cos(pi) = -1

print(math.exp(10))

print(math.log10(1000)) # log10(1000) = 3

print(math.sinh(1))

print(math.factorial(6))

3.141592653589793
-1.0
22026.465794806718
3.0
1.1752011936438014
720

### Random

In [ ]:
import random

print(random.randrange(10, 20))

x = ['a', 'b', 'c', 'd', 'e'] # x is a list class of variable and it has 5 elements.

# Get random choice
print(random.choice(x))

# Shuffle x
random.shuffle(x)

# Print the shuffled x
print(x)

# Print random element
print(random.random())

11
c
['a', 'e', 'd', 'c', 'b']
0.8860764378432461

## Strings

 Lets try to create, format, modify and delete strings

In [ ]:
print(999)         
print(type(999)) 

print("999")      
print(type("999"))

999
<class 'int'>
999
<class 'str'>

### different ways to define strings

In [ ]:
my_string = 'Hello'  
print(my_string)

Hello

In [ ]:
my_string = "Hello"
print(my_string)

Hello

In [ ]:
my_string = '''Hello'''
print(my_string)

Hello

In [ ]:
my_string = """Hello, welcome to
           the world of Python"""
print(my_string)

Hello, welcome to
           the world of Python

In [ ]:
multiline_string = '''I am a resarcher cum teacher and I enjoy teaching.
I didn't find anything as rewarding as empowering people.
That's why I created this repository.'''
print(multiline_string)

I am a resarcher cum teacher and I enjoy teaching.
I didn't find anything as rewarding as empowering people.
That's why I created this repository.

### Indexing and Negative Indexing

In [ ]:
language = 'Python'

first_letter = language[0]
print(first_letter)

second_letter = language[1]
print(second_letter)

last_index = len(language) - 1
last_letter = language[last_index]
print(last_letter)

P
y
n

In [ ]:
# Accessing string characters in Python
str = 'PYTHON'
print('str = ', str)

str =  PYTHON

### Float index

In [ ]:

# index must be an integer
print('str[1.50] = ', str[1.5])

TypeError: ignored

In [ ]:
# index must be in range
print('str[15] = ', str[15])

IndexError: ignored

### Slicing

In [ ]:
s = 'Python'

# 0  1  2  3  4  5  <- Index number: POSITIVE
# P  y  t  h  o  n
#-6 -5 -4 -3 -2 -1  <- Index number: NEGATIVE

# access elements in range with jump/skip
#s[x:y:z] # Start: x Stop:y-1 Jump:z

s[0:5:1]  # ▶ 'Pytho' ∵ Start:0  Stop:5  Jump:1

'Pytho'

In [ ]:
s = '123456789' # Indexing strats from 0 to 8

print("The string '%s' string is %d characters long" %(s, len(s)))  
print('First character of',s,'is',s[0]) 
print('Last character of',s,'is',s[8])
print('Last character of',s,'is',s[len(s)-1]) # [9-1] = [8] is 9

The string '123456789' string is 9 characters long
First character of 123456789 is 1
Last character of 123456789 is 9
Last character of 123456789 is 9

In [ ]:
print('First character of',s,'is',s[-len(s)])
print('First character of',s,'is',s[(-9)])
print('Second character of',s,'is',s[(-8)])
print('Last character of',s,'is',s[-1])

First character of 123456789 is 1
First character of 123456789 is 1
Second character of 123456789 is 2
Last character of 123456789 is 9

In [ ]:
s = "one - two - three"
print( s.partition("-") )
print( s.split() )
print( s.split("-") )
print( ";".join( s.split("-") ) )

('one ', '-', ' two - three')
['one', '-', 'two', '-', 'three']
['one ', ' two ', ' three']
one ; two ; three

### Basic Operations

In [ ]:
# String Concatenation

a = "Hello,"
b= 'World!'
print(a+b)
print(a+" "+b)

Hello,World!
Hello, World!

In [ ]:
# String Concatenation

string1='World'
string2='!'
print('Hello,' + " " + string1 + string2)

Hello, World!

In [ ]:
# Example:

print("HelloWorld" * 5)
print(3 * "Python")

HelloWorldHelloWorldHelloWorldHelloWorldHelloWorld
PythonPythonPython

In [ ]:
# Python String Operations
str1 = 'Hello'
str2 ='World!'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  HelloWorld!
str1 * 3 = HelloHelloHello

In [ ]:
# Iterating through a string
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count += 1
print(count,'letters found')

3 letters found

In [ ]:
# Example:

str1="HelloWorld"
str2="Hello"
str3="World"
str4="Milan"

print('Exmple of in operator ::')
print(str2 in str1)
print(str3 in str1)
print(str4 in str1)
print()
print(str2 not in str1)
print(str3 not in str1)
print(str4 not in str1)

Exmple of in operator ::
True
True
False

False
False
True

In [ ]:
# Example:

print("HelloWorld"=="HelloWorld")
print("helloWorld">="HelloWorld")
print("H"<"h")

True
True
True

In [ ]:
print("Hello %s" % string1)
print("Actual Number = %d" %19)
print("Float of the number = %f" %19)
print("Octal equivalent of the number = %o" %19)
print("Hexadecimal equivalent of the number = %x" %19)
print("Exponential equivalent of the number = %e" %19)

Hello World
Actual Number = 19
Float of the number = 19.000000
Octal equivalent of the number = 23
Hexadecimal equivalent of the number = 13
Exponential equivalent of the number = 1.900000e+01

In [ ]:
# Python string format() method

# default(implicit) order
default_order = "{}, {} and {}".format('Allan','Bill','Cory')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('Allan','Bill','Cory')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j='Allan',b='Bill',s='Cory')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
Allan, Bill and Cory

--- Positional Order ---
Bill, Allan and Cory

--- Keyword Order ---
Cory, Bill and Allan

* Upper vs lower case: **`upper()`**, **`lower()`**, **`captialize()`**, **`title()`** and **`swapcase()`**, **`join()`**, **`split()`**, **`find()`**, **`replace()`** etc, with mostly the obvious meaning. Note that `capitalize` makes the first letter of the string a capital only, while **`title`** selects upper case for the first letter of every word.


* Padding strings: **`center(n)`**, **`ljust(n)`** and **`rjust(n)`** each place the string into a longer string of length n  padded by spaces (centered, left-justified or right-justified respectively). **`zfill(n)`** works similarly but pads with leading zeros.


* Stripping strings: Often we want to remove spaces, this is achived with the functions **`strip()`**, **`lstrip()`**, and **`rstrip()`** respectively to remove from spaces from the both end, just left or just the right respectively. An optional argument can be used to list a set of other characters to be removed.

In [ ]:
# capitalize(): Converts the first character the string to Capital Letter

challenge = 'Python Datatypes'
print(challenge.capitalize()) # 'Python Datatypes'

Python datatypes

In [ ]:
# count(): returns occurrences of substring in string, count(substring, start=.., end=..)

challenge = 'Python Datatypes'
print(challenge.count('y')) # 2
print(challenge.count('y', 6, 14)) # 1
print(challenge.count('ty')) # 1

2
1
1

In [ ]:
# endswith(): Checks if a string ends with a specified ending

challenge = 'Python Datatypes'
print(challenge.endswith('es'))   # True
print(challenge.endswith('type')) # False

True
False

In [ ]:
# find(): Returns the index of first occurrence of substring

challenge = 'Python Datatypes'
print(challenge.find('y'))  # 1
print(challenge.find('u')) # -1

1
-1

In [ ]:
# format()	formats string into nicer output    
first_name = 'Milaan'
last_name = 'Parmar'
job = 'Lecturer'
country = 'Finland'
sentence = 'I am {} {}. I am a {}. I live in {}.'.format(first_name, last_name, job, country)
print(sentence) # I am Milaan Parmar. I am a Lecturer. I live in Finland.

I am Milaan Parmar. I am a Lecturer. I live in Finland.

In [ ]:
# index(): Returns the index of substring

challenge = 'Python Datatypes'
print(challenge.index('y'))  # 1
print(challenge.index('th')) # 2

1
2

In [ ]:
# isalpha(): Checks if all characters are alphabets

challenge = 'PythonDatatypes'
print(challenge.isalpha()) # True

num = '123'
print(num.isalpha())      # False

True
False

In [ ]:
# isdecimal(): Checks Decimal Characters

challenge = '12345'
print(challenge.isdecimal())

True

In [ ]:
# islower():Checks if all alphabets in a string are lowercase

challenge = 'python datatypes'
print(challenge.islower()) # True
challenge = 'Python datatypes'
print(challenge.islower()) # False

True
False

In [ ]:
# isupper(): returns if all characters are uppercase characters

challenge = 'python datatypes'
print(challenge.isupper()) #  False
challenge = 'PYTHON DATATYPES'
print(challenge.isupper()) # True

False
True

In [ ]:
# strip(): Removes both leading and trailing characters

challenge = ' python datatypes '
print(challenge.strip('y')) # 5

 python datatypes

In [ ]:
# replace(): Replaces substring inside

challenge = 'python datatypes'
print(challenge.replace('datatypes', 'data-types')) # 'thirty days of coding'

python data-types

In [ ]:
# title(): Returns a Title Cased String

challenge = 'python datatypes'
print(challenge.title()) # Python Datatypes

Python Datatypes

In [ ]:
# swapcase(): Checks if String Starts with the Specified String
  
challenge = 'python datatypes'
print(challenge.swapcase())   # PYTHON DATATYPES
challenge = 'Python Datatypes'
print(challenge.swapcase())  # pYTHON dATATYPES

PYTHON DATATYPES
pYTHON dATATYPES

In [ ]:
# startswith(): Checks if String Starts with the Specified String

challenge = 'python datatypes'
print(challenge.startswith('python')) # True
challenge = '2 python datatypes'
print(challenge.startswith('two')) # False

True
False

### Lists

In [ ]:
# Example:

# empty list, no item in the list
my_list = []  
print(my_list)      # ▶ ()
print(len(my_list)) # ▶ 0

# list of integers
my_list1 = [1, 2, 3]  
print(my_list1)     # ▶ [1, 2, 3]

# list with mixed data types
my_list2 = [1, "Hello", 3.4]
print(my_list2)     # ▶ [1, 'Hello', 3.4]

# nested list
my_list3 = ["mouse", [9, 3, 6], ['a']]
print(my_list3)     # ▶ ["mouse", [9, 3, 6], ['a']]

my_list4=['foo','bar','baz','quz','quux','corge']
print(my_list4)     # ▶ ['foo','bar','baz','quz','quux','corge']

my_list5=[1,2,3,4,4.5,'helloworld','X']
print(my_list5)     # ▶ [1,2,3,4,4.5,'helloworld','X']

[]
0
[1, 2, 3]
[1, 'Hello', 3.4]
['mouse', [9, 3, 6], ['a']]
['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
[1, 2, 3, 4, 4.5, 'helloworld', 'X']

In [ ]:
# Example: List indexing

my_list = ['p', 'r', 'o', 'b', 'e']

print(my_list[0]) # ▶  p
print(my_list[2]) # ▶  o
print(my_list[4]) # ▶  e

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1]) # ▶ a
print(n_list[1][3]) # ▶ 5

p
o
e
a
5

In [ ]:
# Example: Negative indexing in lists

# Python allows negative indexing for its sequences. 
#The index of -1 refers to the last item, -2 to the second last item and so on.

my_list = ['p','r','o','b','e']

print(my_list[-1])  # ▶ e
print(my_list[-5])  # ▶ p

e
p

In [ ]:
# Example: List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','n','g']
# indes   [ 0   1   2   3   4   5   6   7   8   9 ]
# index   [-10 -9  -8  -7  -6  -5  -4  -3  -2  -1 ]

print(my_list[2:5])   # ▶ ['o', 'g', 'r'] ∵ elements 3rd to 4th
print(my_list[:-5])   # ▶ ['p', 'r', 'o', 'g', 'r'] ∵ elements beginning to 4th
print(my_list[5:])    # ▶ ['a', 'm', 'i', 'n', 'g'] ∵ elements 5th to end

# elements beginning to end
print(my_list[:])     # ▶ ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n','g')

['o', 'g', 'r']
['p', 'r', 'o', 'g', 'r']
['a', 'm', 'i', 'n', 'g']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g']

In [ ]:
# Example:

list=['foo','bar','baz','quz','quux','corge']

print(list[2])         # ▶ baz
print(list[0:])        # ▶ ['foo', 'bar', 'baz', 'quz', 'quux', 'corge'] ∵ if we don't set where to stop it takes all the rest
print(list[4:6])       # ▶ ['quux', 'corge']
print(list[-4:-1])     # ▶ ['baz', 'quz', 'quux'] ∵ it does not include the end index
print(list[1:5:2])     # ▶ ['bar', 'quz'] ∵ it does not include the end index
print(list[-1: :-1])   # ▶ ['corge', 'quux', 'quz', 'baz', 'bar', 'foo'] ∵ reverse list
print(list[-1])        # ▶ corge ∵ last element
print(list[-2])        # ▶ quux ∵ second last element
print(len(list)-1)     # ▶ 5 ∵ index of last element

does_exist = 'bar' in list
print(does_exist)      # ▶ True

baz
['foo', 'bar', 'baz', 'quz', 'quux', 'corge']
['quux', 'corge']
['baz', 'quz', 'quux']
['bar', 'quz']
['corge', 'quux', 'quz', 'baz', 'bar', 'foo']
corge
quux
5
True

In [ ]:
# Example: Correcting mistake values in a list

odd = [2, 4, 6, 8]
  
odd[0] = 1            # ▶ [1, 4, 6, 8] ∵ update 1st element         
print(odd)

odd[1:4] = [3, 5, 7]  # ▶ [1, 3, 5, 7] ∵ update 2nd to 4th elements
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Example:

data1=[5,10,15,20,25]
print(data1) # ▶ [5, 10, 15, 20, 25]

data1[2]="Multiple of 5"  # we are modifying the 3rd element using its index [2] 
print(data1) # ▶ [5, 10, 'Multiple of 5', 20, 25]

[5, 10, 15, 20, 25]
[5, 10, 'Multiple of 5', 20, 25]

In [ ]:
# Example: Appending and Extending lists in Python

odd = [1, 3, 5]

odd.append(7)
print(odd)  # ▶ [1, 3, 5, 7]

odd.extend([9, 11, 13])
print(odd)  # ▶ [1, 3, 5, 7, 9, 11, 13]

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [ ]:
# Example:

list1=['a','b','c']
list1.append(1.5)
list1.append('x')
list1.append(['y','z']) # append list into list as single object
print(list1)  # ▶ ['a', 'b', 'c', 1.5, 'x', ['y', 'z']]

['a', 'b', 'c', 1.5, 'x', ['y', 'z']]

In [ ]:
# Example: Concatenating and repeating lists

odd = [1, 3, 5]
print(odd + [9, 7, 5]) # ▶ [1, 3, 5, 9, 7, 5]

[1, 3, 5, 9, 7, 5]

In [ ]:
# Example:

list1=['a','b','c']
list2=['x','y','z']
list3=list1+list2
print(list3)  # ▶ ['a', 'b', 'c', 'x', 'y', 'z']

['a', 'b', 'c', 'x', 'y', 'z']

In [ ]:
# Example: Deleting list items

my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

del my_list[2]  # delete one item
print(my_list)  # ▶ ['p', 'r', 'b', 'l', 'e', 'm'] 

del my_list[1:5]  # delete multiple items
print(my_list)  # ▶ ['p', 'm']

del my_list      # delete entire list
print(my_list)   # ▶ NameError: name 'my_list' is not defined

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

NameError: ignored

In [ ]:
# Example: How all() works for lists?

l = [1, 3, 4, 5]
print(all(l))  # ▶ True ∵ all values true

l = [0, False]
print(all(l))  # ▶ False ∵ all values false

l = [1, 3, 4, 0]
print(all(l))  # ▶ False ∵ one false value

l = [0, False, 5]
print(all(l))  # ▶ False ∵ one true value

l = []
print(all(l))  # ▶ True ∵ empty iterable

True
False
False
False
True

In [ ]:
# Example: True since 1,3 and 4 (at least one) is true

l = [1, 3, 4, 0]
print(any(l))  # ▶ True 

l = [0, False]
print(any(l))  # ▶ False ∵ both are False

l = [0, False, 5]
print(any(l))  # ▶ True ∵ 5 is true

l = []
print(any(l))  # ▶ False ∵ iterable is empty

True
False
True
False

In [ ]:
# Example: vowels list

py_list = ['e', 'a', 'u', 'o', 'i']
print(sorted(py_list))                # ▶ ['a', 'e', 'i', 'o', 'u']
print(sorted(py_list, reverse=True))  # ▶ ['u', 'o', 'i', 'e', 'a']

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

In [ ]:
# Example:

list1 = ['a','b','c']
list2 = [1,2,3]
list3=['a','b','c',1,2,3]

print(min(list1))  # ▶ a 
print(min(list2))  # ▶ 1
print(min(list3))  # ▶ TypeError: '<' not supported between instances of 'int' and 'str'

a
1

TypeError: ignored

In [ ]:
# Example:

list1 = ['a','b','c']
list2 = [1,2,3]
list3=['a','b','c',1,2,3]

print(max(list1))  # ▶ c
print(max(list2))  # ▶ 3
print(max(list3))  # ▶ TypeError: '>' not supported between instances of 'int' and 'str'

c
3

TypeError: ignored

In [ ]:
# Example:

list1 = ['a','b','c']
list2 = []
list3=['a','b','c',1,2,3]

print(len(list1))  # ▶ 3
print(len(list2))  # ▶ 0
print(len(list3))  # ▶ 6

3
0
6

In [ ]:
# Example:

list1 =[1,2,3]
list1.append(4)
list1.append('helloworld')
list1.append(['a','b','c']) #append as single object
print(list1)  # ▶ [1, 2, 3, 4, 'helloworld', ['a', 'b', 'c']]

[1, 2, 3, 4, 'helloworld', ['a', 'b', 'c']]

In [ ]:
# Example:

list1 =[1,2,3]
list1.extend([4])
list1.extend('helloworld')
list1.extend(['a','b','c'])
print(list1)  # ▶ [1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd', 'a', 'b', 'c']

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd', 'a', 'b', 'c']

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
list1.insert(3,'C#')
print(list1)  # ▶ ['helloworld', 'python', 'java', 'C#', 'c++', 1, 2, 3]

['helloworld', 'python', 'java', 'C#', 'c++', 1, 2, 3]

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
list1.remove("java")
print(list1)  # ▶ ['helloworld', 'python', 'c++', 1, 2, 3]
list1.remove(2)
print(list1)  # ▶ ['helloworld', 'python', 'c++', 1, 3]

['helloworld', 'python', 'c++', 1, 2, 3]
['helloworld', 'python', 'c++', 1, 3]

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
list1.pop()   # pop last element
print(list1)  # ▶ ['helloworld', 'python', 'java', 'c++', 1, 2]
list1.pop(2)  # pop element with index 2
print(list1)  # ▶ ['helloworld', 'python', 'c++', 1, 2]

['helloworld', 'python', 'java', 'c++', 1, 2]
['helloworld', 'python', 'c++', 1, 2]

In [ ]:
list1 =['helloworld','python','java','c++',1,2,3]
list1.clear()
print('list1:', list1)  # ▶ list1: []

list1: []

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
print("index of java : ",list1.index('java'))  # ▶ index of java :  2
print("index of 2 : ",list1.index(2))          # ▶ index of 2 :  5

index of java :  2
index of 2 :  5

In [ ]:
# Example:

list1 =[1,2,3,'a','b','c',1,2,3]

print(list1.count(1))   # ▶ 2
print(list1.count('b')) # ▶ 1
print(list1.count(4))   # ▶ 0

2
1
0

In [ ]:
# Example:

list1 =[22,30,100,300,399]
list2=['z','ab','abc','a','b']
list1.sort()
list2.sort()
print(list1)  # ▶ [22, 30, 100, 300, 399]

list1.sort(reverse=True)
print(list1)  # ▶ [399, 300, 100, 30, 22]
print(list2)  # ▶ ['a', 'ab', 'abc', 'b', 'z']

[22, 30, 100, 300, 399]
[399, 300, 100, 30, 22]
['a', 'ab', 'abc', 'b', 'z']

In [ ]:
# Example:

list1 =['helloworld','python','java','c++',1,2,3]
list1.reverse()
print(list1)  # ▶ [3, 2, 1, 'c++', 'java', 'python', 'helloworld']

[3, 2, 1, 'c++', 'java', 'python', 'helloworld']

In [ ]:
list1 =['helloworld','python','java','c++',1,2,3]
list2 = list1.copy()
print('list1:', list1)  # ▶ list1: ['helloworld', 'python', 'java', 'c++', 1, 2, 3]
print('list2:', list2)  # ▶ list2: ['helloworld', 'python', 'java', 'c++', 1, 2, 3]

list1: ['helloworld', 'python', 'java', 'c++', 1, 2, 3]
list2: ['helloworld', 'python', 'java', 'c++', 1, 2, 3]

In [ ]:
pow2 = [2 ** x for x in range(10)]
print(pow2)  # ▶ [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
pow2 = []
for x in range(10):
    pow2.append(2 ** x)
print(pow2)  # ▶ [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
pow2 = [2 ** x for x in range(10) if x > 5]
pow2  # ▶ [64, 128, 256, 512]

[64, 128, 256, 512]

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# Output: True
print('p' in my_list)  # ▶ True

# Output: False
print('a' in my_list)  # ▶ False

# Output: True
print('c' not in my_list)  # ▶ True

True
False
True

In [ ]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [ ]:
# Example:

list1=['a','b','c',1,2,3]
for x in list1 :
    print(x)

a
b
c
1
2
3

In [ ]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango