## Flow Control

1. Conditional Statements
  1. if
  2. if-else
  3. if-elif-else
  4. nested if-else

2. Iterative Statements
  1. for
  2. while

3. Transfer Statements
  1. break
  2. continue
  3. pass

### If condition

In [1]:
# Example 1:
grade = 70
if grade >= 65:
    print("Passing grade")

Passing grade

In [2]:
num = 3
if (num > 0):
    print(num, "is a positive number.")
print("This is always printed.")

num = -1
if num > 0:
    print(num, "is a negative number.")
print("This is also always printed.")

3 is a positive number.
This is always printed.
This is also always printed.

In [3]:
num1, num2 = 6, 9
if(num1 < num2):
    print("num1 is less than num2")

num1 is less than num2

###  if else

In [5]:
grade = 60    
if grade >= 65:
    print("Passing grade")
else:
    print("Failing grade")

Failing grade

In [6]:
# Password checker

def password_check(password):
    if password == "Python@99>":
        print("Correct password")
    else:
        print("Incorrect Password")

password_check("Python@99>")
password_check("Python99")

Correct password
Incorrect Password

### if-elif-else

In [7]:
num = 0

if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [8]:
# grading
grade = 96

if grade >= 90:
    print("A grade")
elif grade >=80:
    print("B grade")
elif grade >=70:
    print("C grade")
elif grade >= 65:
    print("D grade")
else:
    print("Failing grade")

A grade

In [9]:
a = 0
if a > 0 and a % 2 == 0:
        print('A is an even and positive integer')
elif a > 0 and a % 2 !=  0:
     print('A is a positive integer')
elif a == 0:
    print('A is zero')
else:
    print('A is negative')

A is zero

### nested if

In [10]:
num1 = 0
if (num1 != 0):  # For zero condition is FALSE
    if(num1 > 0):  
        print("num1 is a positive number")
    else:  
        print("num1 is a negative number")
else:  # For zero condition is TRUE
    print("num1 is neither positive nor negative")

num1 is neither positive nor negative

### FOR loop

In [11]:
words = ['one', 'two', 'three', 'four', 'five']

for i in words:
    print(i)

one
two
three
four
five

In [12]:
# Avg of numbers

numbers = [10, 20, 30, 40, 50]

# definite iteration
# run loop 5 times because list contains 5 items
sum = 0
for i in numbers:
    sum = sum + i
list_size = len(numbers)
average = sum / list_size
print(average)

30.0

In [13]:
# usuall range

# empty range
print(list(range(0)))

# using range(stop)
print(list(range(10)))

# using range(start, stop)
print(list(range(1, 10)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
student_name = 'Arthur'

marks = {'Alan': 99, 'Bill': 55, 'Cory': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

### break

In [15]:
numbers = (0,1,2,3,4,5)
for number in numbers:
    print(number)
    if number == 3:
        break

0
1
2
3

### continue

In [16]:
color = ['Green', 'Pink', 'Blue']
for i in color:
    if(i == 'Pink'):
        continue
    print (i)

Green
Blue

In [17]:
first = [3, 6, 9]
second = [3, 6, 9]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

3 * 6 =  18
3 * 9 =  27
6 * 3 =  18
6 * 9 =  54
9 * 3 =  27
9 * 6 =  54

### while

In [18]:
count = 1
# run loop till count is less than 5
while count < 5:
    print(count)
    count = count + 1

1
2
3
4

In [19]:
num = 10
sum = 0
i = 1
while i <= num:
    sum = sum + i
    i = i + 1
print("Sum of first 10 number is:", sum)

Sum of first 10 number is: 55

## Function

In [20]:
def greet():
    print("Welcome to DSA with Python")

In [21]:
def add_two_numbers ():
    num_one = 3
    num_two = 6
    total = num_one + num_two
    print(total)
add_two_numbers()

9

In [22]:
def generate_full_name ():
    first_name = 'Milaan'
    last_name = 'Parmar'
    space = ' '
    full_name = first_name + space + last_name
    print(full_name)
generate_full_name ()

Milaan Parmar

In [24]:
# With param

def greet(name):
    """
    This function greets to the person passed in as a parameter
    """
    print("Hello, " + name + ". Good morning!")

In [25]:
def sum_of_numbers(n):
    total = 0
    for i in range(n+1):
        total+=i
    print(total)
print(sum_of_numbers(10))  # 55
print(sum_of_numbers(100)) # 5050

55
None
5050
None

In [27]:
def greet(*names):
    for name in names:
        print("Hello", name)

greet("Gary", "Hank", "Ivan", "John")

Hello Gary
Hello Hank
Hello Ivan
Hello John

In [29]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return (n * factorial(n-1))

num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6